{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-3">
      <div class="sticky-top">
        <div class="card" style="max-width: 18rem;">
          <img class="card-img-top" src="{{ book.cover_image.url }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
                <h1>{{book.title}}</h1>
                <h5>{{book.author}}</h5></p>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-9">
    <form action="{% url 'createreview' bookId=book.id %}" method="post">
      {% csrf_token %}
      
      <label for="message">Enter your Review:</label><br>
      <textarea class="form-control" id="message" name="review" rows="4" cols="50" value="{{review_form.review}}" required></textarea><br>
      
      <!-- Submit Button -->
      <input type="submit" value="Submit">
  </form>
  </div>
</div>

{% endblock %}