
.logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }
  .book-image {
    min-width: 150px;
    max-width: 150px;  /* Set the maximum width */
    max-height: 191px; /* Set the maximum height */
    width: auto;      /* Allow the width to adjust automatically to maintain aspect ratio */
    height: auto;     /* Allow the height to adjust automatically to maintain aspect ratio */
}

.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }




.comment {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.comment-text {
  font-size: 16px;
}


.comment-container {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 10px;
}

.comment-text {
  background-color: #f9f9f9;
  padding: 10px;
}

.user-profile {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}


.add-button {
  display: inline-block; /* Ensures the link is treated as a block element */
  margin: 20px; /* Adds a 10-pixel margin on all sides */
  padding: 10px 20px; /* Adds padding for the button's content */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Removes underline from the link */
  border-radius: 4px; /* Rounded corners for the button */
}


.rating {
  margin-top: 40px;
  border: none;
  float: left;
}

.rating > label {
  color: #90A0A3;
  float: right;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}

.checked {
  color: orange;
}
