
.logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }
  .book-image {
    min-width: 150px;
    max-width: 150px;  /* Set the maximum width */
    max-height: 191px; /* Set the maximum height */
    width: auto;      /* Allow the width to adjust automatically to maintain aspect ratio */
    height: auto;     /* Allow the height to adjust automatically to maintain aspect ratio */
}

.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }

